.modal-title {
  text-align: center;
}

.modal-body h1 {
  text-align: center;
}

.container .table > tbody > tr > td {
  padding: 8px 2px;
}

.invalid-input {
  display: none;
  color: red;
}

.table td .btn-warning {
  margin-right: 5%;
}


@media (max-width: 768px) {
  
  .table td .btn {
    display: block;
    width: 75%;
    margin: auto;
    margin-bottom: 2%
  }
}

@media (max-width: 576px) {
  .table tr > td:nth-of-type(3) {
    text-align: center;
  }

  .table tr > th:nth-of-type(3) {
    text-align: center;
  }
}
