.modal-title {
  text-align: center;
}

.modal-body h1 {
  text-align: center;
}

.container .table > tbody > tr > td {
  padding: 8px 2px;
}

.invalid-name, .invalid-course, .invalid-grade {
  display: none;
  color: red;
}

.container > div:nth-of-type(3) {
  overflow: auto;
}

